<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Texto presto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
  </head>
  <body>
    <form method="post" class="formulario" id="form_page" action="">
      <label for="" class="form_label">Escribe aquí tu texto</label>
      <textarea class="form_input" id="textBox1" name="textBox1" form="form_page" style="margin-bottom: 10px;"></textarea>
      <br>
      <input type="text" id="textBox2" name="textBox2" placeholder="@tu-perfil" class="form_input" style="padding: 5px; font-size: 1em; margin-top: 0;">
      <input type="submit" class="form_submit" value="Generar imagen" />
    </form>
  </body>
</html>